.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    padding: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 600px;
}

