.nosotros {
    margin: 70px 0px;
    display: flex;
    justify-content: center;
}
.nosotros-hero {
    width: 1000px;
}
.nosotros-hero .nosotros-titulo {
    color: #111111;
    padding-top: 60px;
}
.nosotros-hero p {
    margin: 50px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 135%;
}

.destacar {
    color: #fff;
    background-color: #111111;
}