.nosotros {
    padding-top: 60px;
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros p {
    width: 1000px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 135%;
}

.destacar {
    color: #fff;
    background-color: #111111;
}

